.container {
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  flex-direction: row;
  box-sizing: border-box;
  margin-left: -16px;
  margin-right: -16px;
}

.logo__link {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
  vertical-align: middle;
  color: #eee;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -1px
}

.logo__link:hover {
  color: #3e8094
}
